.main_div {
  height: 70vh;
  text-align: center;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
  color: #6B523B;
}

.content_block {
  position: relative;
  top: -70vh;
}

.background {
  background: center url(../../imgs/bg_values.png) no-repeat;
  background-size: cover;
  height: 100%;
  filter: blur(20px);
  box-shadow: inset 1em 1em #FFF;
}

.slider_div div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slider_div p {
  font-weight: 600;
  font-size: 1.3rem;
}

.slider_img {
  width: 250px;
  height: 250px;
}
