.main_div {
  height: 75vh;
  font-family: 'Montserrat', sans-serif;
  color: #6B523B;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.background {
  background: center url(../../imgs/bg_values.png) no-repeat;
  background-size: cover;
  height: 100%;
  filter: blur(20px);
  box-shadow: inset 1em 1em #FFF;
}

.content_block {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.values_caption {
  font-weight: 950;
  color: #6B523B;
  text-align: center;
}

li {
  font-weight: 600;
  font-size: 1rem;
  line-height: 5vh;
}
