.main_div {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat';
  font-weight: 700;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.caption_div {
  margin-bottom: 5vh;
}

.inf_button {
  border: solid 1px #000;
  border-radius: 3.54px;
  background-color: #FFF;
  width: 50vw;
  height: 6vh;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 1.1rem;
  cursor: pointer;
  transition: transform .3s;
}

.inf_button:hover {
  transform: scale(.8);
}
